- var meta_title = 'basis of svg tag';
- var meta_description = 'only put two circles.';

include ./_article.pug

+article
  p.c-article__summary
    |#{meta_description}
  .c-article__svg
    svg(width="500", height="500")
      circle(cx="50%", cy="50%", r="45%", stroke="#333333", stroke-width="5%", fill="#ff9999")
      circle(cx="50%", cy="50%", r="25%", stroke="#333333", stroke-width="5%", fill="#99ff99")
