- var meta_title = 'animation';
- var meta_description = 'add hook function to svg path.';

include ./_article.pug

+article
  p.c-article__summary
    |#{meta_description}
  .c-article__svg
    svg(width="500", height="500")
      defs
        mask#mask
          rect(
            x="0" y="0" width="500" height="500",
            fill = "white"
          )
          path(
            id = 'transformer-path',
            fill = "black",
            d = ''
          )
      rect(
        x="0" y="0" width="500" height="500",
        mask = "url(#mask)",
      )
