- var meta_title = 'animation';
- var meta_description = 'add hook function to svg path.';

include ./_article.pug

+article
  p.c-article__summary
    |#{meta_description}
  .c-article__svg
    svg(width="500", height="500")
      path(
        id = 'transformer-path'
        fill = "#333",
        d = ''
      )
