- var website_domain = "";
- var website_name = "learn svg";
- var meta_title_merge = "";

if (meta_title != "")
  - meta_title_merge = meta_title + " │ " + website_name;
else
  - meta_title_merge = website_name;

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{meta_title_merge}
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
meta(name="description", content = meta_description)
meta(name="theme-color", content="#ffffff")
link(rel="shortcut icon" href="/img/common/icon.ico")
link(rel="apple-touch-icon" href="/img/common/app-icon.ico")
link(rel="stylesheet" href="/css/main.css")
